.content {
  background-color: #001440;
  padding: 10px 30px;
  height: auto;

}

h1, h3, p, blockquote, pre {
  font-style: normal;
  line-height: 27px;
}

h3, p, blockquote, pre {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-variant: normal;
}

h1 {
  font-family: Verdana;
  font-size: 23px;
  font-variant: small-caps;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 17px;
  font-weight: 700;
}

p {
  font-size: 14px;
  font-weight: 400;
  padding-top: 20px;
  color: #ffeeed;
}

blockquote {
  font-size: 17px;
  font-weight: 400;
}

pre {
  font-size: 11px;
  font-weight: 400;
}