<main>
  <section class="hero-section">
    <div class="container grid">
      <div class="hero-text">
        <h1 class="hero-title">Empowering every child to shine!</h1>
        <p class="hero-subtitle">
          Createand attend events designed with love and care for special needs
          children! Join a community that understands, supports, and uplifts!
        </p>
        <button class="explore-btn" (click)="goToEvents()">Explore Now!</button>
      </div>

      <div class="hero-image">
        <img src="assets/images/Home2.jpg" alt="home" />
      </div>
    </div>
  </section>
</main>
