<div class="card" (click)="goToDetail()">
  <div class="fav-icon" (click)="toggleFav($event)">
    <i [ngClass]="isFav ? 'fa-solid fa-heart' : 'fa-regular fa-heart'"></i>
  </div>

  <img [src]="event.imageUrl" alt="event image" class="card-img" />

  <div class="card-body">
    <h3>{{ event.title }}</h3>

    <div class="meta">
      <p class="city">📍 {{ event.city || event.location }}</p>
      <p class="age">
        🎂 Age:
        <span *ngIf="event.minAge && event.maxAge; else anyAge">
          {{ event.minAge }} - {{ event.maxAge }}
        </span>
        <ng-template #anyAge>All</ng-template>
      </p>
    </div>

    <p class="date">
      {{ event.startDateTime | date : "mediumDate" }} ·
      {{ event.startDateTime | date : "shortTime" }} -
      {{ event.endDateTime | date : "shortTime" }}
    </p>

    <div class="tags" *ngIf="event.disabilityTags?.length">
      <span class="tag" *ngFor="let tag of event.disabilityTags">{{
        tag
      }}</span>
    </div>

    <span class="price">
      {{ event.price === 0 ? "FREE" : "$" + event.price }}
    </span>
  </div>
</div>
